:root {
    --bg: #292424;
    --fg: #b1b1b1;
    --green: #71a46c;
    --yellow: #96905f;
    --blue: #71a19f;
    --magenta: #b680b1;
    --red: #c27d7b;
    --black: #363030;
}

html, input {
    font-family: 'FantasqueSansMonoRegular';
    background-color: var(--bg);
    color: var(--fg);
}

body {
    margin: auto;
    opacity: 1;
    transition: all .8s ease-in-out;
    width: 100%;
}

#main {
    padding: 40px;
}

#search {
    position: absolute;
    bottom: 0px;
    padding: 1% 1%;
    width: 98%;
}

#box {
    border: none;
    outline: none;
    cursor: text;
    font-size: 16px;
    margin: 0;
    padding: 10px 15px;
    transition: all .2s ease-in-out;
    width: 99%;
}

#box:focus {
    background-color: var(--black);
    border: none;
    outline: none;
}
