:root {
    --bg: #201e1a;
    --fg: #947e68;
    --green: #6a7263;
    --yellow: #7e5d3c;
    --blue: #527272;
    --magenta: #4f4141;
    --red: #6d413b;
    --black: #322b28;
}

html, input {
    font-family: 'FantasqueSansMonoRegular';
    background-color: var(--bg);
    color: var(--fg);
}

body {
    margin: auto;
    opacity: 1;
    transition: all .8s ease-in-out;
    width: 100%;
}

#main {
    padding: 40px;
}

#search {
    position: absolute;
    bottom: 0px;
    padding: 1% 1%;
    width: 98%;
}

#box {
    border: none;
    outline: none;
    cursor: text;
    font-size: 16px;
    margin: 0;
    padding: 10px 15px;
    transition: all .2s ease-in-out;
    width: 99%;
}

#box:focus {
    background-color: var(--black);
    border: none;
    outline: none;
}

code {
    margin: -15px;
}

.hljs {
    background: var(--black);
}

.hljs,
.hljs-subst {
    font-size: 20px;
    color: var(--fg);
}

.hljs-attribute,
.hljs-doctag,
.hljs-keyword,
.hljs-meta-keyword,
.hljs-name,
.hljs-selector-tag {
    font-weight: 700;
}

.hljs-deletion,
.hljs-number,
.hljs-quote,
.hljs-selector-class,
.hljs-selector-id,
.hljs-string,
.hljs-template-tag,
.hljs-type {
    color: var(--blue);
}

.hljs-section,
.hljs-title {
    color: var(--green);
    font-weight: 700;
}

.hljs-link,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable {
    color: var(--red);
}

.hljs-literal {
    color: var(--magenta);
}

.hljs-addition,
.hljs-built_in,
.hljs-bullet,
.hljs-code {
    color: var(--magenta);
}

.hljs-meta {
    color: var(--yellow);
}

.hljs-meta-string {
    color: var(--green);
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: 700;
}
