html, input {
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    color: white;
}

body {
    margin: auto;
    opacity: 1;
    transition: all .8s ease-in-out;
    width: 100%;
}

#container {
    align-items: center;
    display: flex;
    height: 100vh;
    margin: auto;
    width: 70%;
}

#blocked {
    display: block;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

#logo {
    font-size: 100px;
    font-weight: 600;
}

#logo span {
    display: inline-block;
    transform: rotate(-10deg);
}

#search {
    padding: 50px 10px;
}

#box {
    border: 0;
    box-sizing: border-box;
    cursor: text;
    font-size: 16px;
    margin: 0;
    padding: 10px 15px;
    transition: all .2s ease-in-out;
    width: 100%;
}
